In [3]:
import pandas as pd 
import numpy as np 
import os
from pathlib import Path

In [5]:
# load datasets 

data_dir = Path().resolve().parent / "data/raw"
df1 = pd.read_excel(data_dir / "household_list.xlsx")
df2 = pd.read_excel(data_dir / "households_coaching_visits.xlsx")
df3 = pd.read_excel(data_dir / "households_coaching_visits_2.xlsx")
df4 = pd.read_excel(data_dir / "households_training_attendance.xlsx")

# Assignment 1

In [33]:
#inspection

print(df1.info())
print('===' * 30)
print(df2.info())
print('===' * 30)
print(df3.info())
print('===' * 30)
print(df4.info())
print('===' * 30)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2817 entries, 0 to 2816
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   region_name                       2817 non-null   object
 1   district_name                     2817 non-null   object
 2   cluster_name                      2817 non-null   object
 3   village_name                      2817 non-null   object
 4   household_id                      2817 non-null   object
 5   deleted_or_deactivated_household  2817 non-null   bool
dtypes: bool(1), object(5)
memory usage: 112.9+ KB
None
==========================================================================================
<class 'pandas.core.frame.DataFrame'>
Index: 3840 entries, 0 to 3839
Data columns (total 46 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   region_name                       3840 non-null   object
 1   district_name                     3840 non-null   object
 2   cluster_name                      3840 non-null   object
 3   village_name                      3840 non-null   object
 4   user_type                         3563 non-null   object
 5   household_id                      3840 non-null   object
 6   latrine_present                   3840 non-null   int64
 7   latrine_cover                     3840 non-null   int64
 8   paper_leaves_present              3840 non-null   int64
 9   latrine_floored                   3840 non-null   int64
 10  latrine_envir_human_excreta_free  3840 non-null   int64
 11  latrine_door                      3840 non-null   int64
 12  latrine_walled                    3840 non-null   int64
 13  latrine_roof_leak_proof           3840 non-null   int64
 14  tippy_present                     3840 non-null   int64
 15  tippy_water_fill                  3840 non-null   int64
 16  soap_ash_present                  3840 non-null   int64
 17  latrine_envir_veg_free            3840 non-null   int64
 18  cloth_hang_line_present           3840 non-null   int64
 19  kitchen_present                   3840 non-null   int64
 20  kitchen_ventilated                3840 non-null   int64
 21  kitchen_clean                     3840 non-null   int64
 22  bathroom_present                  3840 non-null   int64
 23  bathroom_drainage                 3840 non-null   int64
 24  compound_clean                    3840 non-null   int64
 25  dishrack_present                  3840 non-null   int64
 26  dishrack_double_pres              3840 non-null   int64
 27  compost_present                   3840 non-null   int64
 28  rec_num_compost                   3840 non-null   int64
 29  standard_size_compost             3840 non-null   int64
 30  compost_fill_correctly            3840 non-null   int64
 31  lqd_manure_prod                   3840 non-null   int64
 32  org_presticide_prod               3840 non-null   int64
 33  compound_gardening                3840 non-null   int64
 34  biodegrade_waste_mgt              3840 non-null   int64
 35  mulch_practice                    3840 non-null   int64
 36  vegetables                        3840 non-null   int64
 37  staple_crops                      3840 non-null   int64
 38  post_harvest_storage              3840 non-null   int64
 39  water_control_practice            3840 non-null   int64
 40  bbw_management                    3840 non-null   int64
 41  vsla_participation                3840 non-null   int64
 42  visitCount                        3840 non-null   int64
 43  timeTakenToCompleteFormInMinutes  3683 non-null   float64
 44  startTime                         3838 non-null   object
 45  endTime                           3838 non-null   object
dtypes: float64(1), int64(37), object(8)
memory usage: 1.4+ MB
None
==========================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925 entries, 0 to 1924
Data columns (total 46 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   region_name                       1925 non-null   object
 1   district_name                     1925 non-null   object
 2   cluster_name                      1925 non-null   object
 3   village_name                      1925 non-null   object
 4   user_type                         1925 non-null   int64
 5   household_id                      1851 non-null   object
 6   latrine_present                   1925 non-null   int64
 7   latrine_cover                     1925 non-null   int64
 8   paper_leaves_present              1925 non-null   int64
 9   latrine_floored                   1925 non-null   int64
 10  latrine_envir_human_excreta_free  1925 non-null   int64
 11  latrine_door                      1925 non-null   int64
 12  latrine_walled                    1925 non-null   int64
 13  latrine_roof_leak_proof           1925 non-null   int64
 14  tippy_present                     1925 non-null   int64
 15  tippy_water_fill                  1925 non-null   int64
 16  soap_ash_present                  1925 non-null   int64
 17  latrine_envir_veg_free            1925 non-null   int64
 18  cloth_hang_line_present           1925 non-null   int64
 19  kitchen_present                   1925 non-null   int64
 20  kitchen_ventilated                1925 non-null   int64
 21  kitchen_clean                     1925 non-null   int64
 22  bathroom_present                  1925 non-null   int64
 23  bathroom_drainage                 1925 non-null   int64
 24  compound_clean                    1925 non-null   int64
 25  dishrack_present                  1925 non-null   int64
 26  dishrack_double_pres              1925 non-null   int64
 27  compost_present                   1925 non-null   int64
 28  rec_num_compost                   1925 non-null   int64
 29  standard_size_compost             1925 non-null   int64
 30  compost_fill_correctly            1925 non-null   int64
 31  lqd_manure_prod                   1925 non-null   int64
 32  org_presticide_prod               1925 non-null   int64
 33  compound_gardening                1925 non-null   int64
 34  biodegrade_waste_mgt              1925 non-null   int64
 35  mulch_practice                    1925 non-null   int64
 36  vegetables                        1925 non-null   int64
 37  staple_crops                      1925 non-null   int64
 38  post_harvest_storage              1925 non-null   int64
 39  water_control_practice            1925 non-null   int64
 40  bbw_management                    1925 non-null   int64
 41  vsla_participation                1925 non-null   int64
 42  visitCount                        1925 non-null   int64
 43  timeTakenToCompleteFormInMinutes  1911 non-null   float64
 44  startTime                         1911 non-null   float64
 45  endTime                           1911 non-null   float64
dtypes: float64(3), int64(38), object(5)
memory usage: 691.9+ KB
None
==========================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18846 entries, 0 to 18845
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   region_name    18846 non-null  object
 1   district_name  18846 non-null  object
 2   cluster_name   18846 non-null  object
 3   village_name   18846 non-null  object
 4   household_id   18846 non-null  object
 5   training_day   18846 non-null  int64
 6   category       18846 non-null  object
 7   training_type  18846 non-null  object
dtypes: int64(1), object(7)
memory usage: 1.2+ MB
None
==========================================================================================

In [34]:
# cleaning df1 

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2817 entries, 0 to 2816
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   region_name                       2817 non-null   object
 1   district_name                     2817 non-null   object
 2   cluster_name                      2817 non-null   object
 3   village_name                      2817 non-null   object
 4   household_id                      2817 non-null   object
 5   deleted_or_deactivated_household  2817 non-null   bool
dtypes: bool(1), object(5)
memory usage: 112.9+ KB

In [35]:
df1.region_name.unique()

array(['Central', 'South West', 'East'], dtype=object)

In [36]:
df1.district_name.unique()

array(['Rakai', 'Kitagwenda', 'Luuka', 'Mitooma'], dtype=object)

In [37]:
df1.cluster_name.unique()

array(['Kizinga', 'Kibale', 'Kawanga', 'Kabarore'], dtype=object)

In [38]:
df1.village_name.unique()

array(['Kizinga_C', 'Kizinga_B', 'Kizinga_A', 'Kawenda',
       'Kyeganywa_Ruhunga', 'Mpembwe', 'Nyabusazu', 'Nyaburama',
       'Kibale_KITW', 'Kakasi_II', 'Kyitira', 'Kyabashwere', 'Kebikona',
       'Endangara', 'Nantamali', 'Kawanga', 'Bugonza', 'Rubaare_B',
       'Rubaare_A', 'Nyakatuntu', 'Nyakashojwa_Katenga',
       'Nyakahita_Katenga', 'Nyakagongo_Katenga', 'Kaziko_Katenga',
       'Kabarore', 'Burindi'], dtype=object)

In [39]:
df1.household_id.nunique()

2556

dataframe 1 [Household List] does not need cleaning.

In [40]:
# cleaning df2

df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3840 entries, 0 to 3839
Data columns (total 46 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   region_name                       3840 non-null   object
 1   district_name                     3840 non-null   object
 2   cluster_name                      3840 non-null   object
 3   village_name                      3840 non-null   object
 4   user_type                         3563 non-null   object
 5   household_id                      3840 non-null   object
 6   latrine_present                   3840 non-null   int64
 7   latrine_cover                     3840 non-null   int64
 8   paper_leaves_present              3840 non-null   int64
 9   latrine_floored                   3840 non-null   int64
 10  latrine_envir_human_excreta_free  3840 non-null   int64
 11  latrine_door                      3840 non-null   int64
 12  latrine_walled                    3840 non-null   int64
 13  latrine_roof_leak_proof           3840 non-null   int64
 14  tippy_present                     3840 non-null   int64
 15  tippy_water_fill                  3840 non-null   int64
 16  soap_ash_present                  3840 non-null   int64
 17  latrine_envir_veg_free            3840 non-null   int64
 18  cloth_hang_line_present           3840 non-null   int64
 19  kitchen_present                   3840 non-null   int64
 20  kitchen_ventilated                3840 non-null   int64
 21  kitchen_clean                     3840 non-null   int64
 22  bathroom_present                  3840 non-null   int64
 23  bathroom_drainage                 3840 non-null   int64
 24  compound_clean                    3840 non-null   int64
 25  dishrack_present                  3840 non-null   int64
 26  dishrack_double_pres              3840 non-null   int64
 27  compost_present                   3840 non-null   int64
 28  rec_num_compost                   3840 non-null   int64
 29  standard_size_compost             3840 non-null   int64
 30  compost_fill_correctly            3840 non-null   int64
 31  lqd_manure_prod                   3840 non-null   int64
 32  org_presticide_prod               3840 non-null   int64
 33  compound_gardening                3840 non-null   int64
 34  biodegrade_waste_mgt              3840 non-null   int64
 35  mulch_practice                    3840 non-null   int64
 36  vegetables                        3840 non-null   int64
 37  staple_crops                      3840 non-null   int64
 38  post_harvest_storage              3840 non-null   int64
 39  water_control_practice            3840 non-null   int64
 40  bbw_management                    3840 non-null   int64
 41  vsla_participation                3840 non-null   int64
 42  visitCount                        3840 non-null   int64
 43  timeTakenToCompleteFormInMinutes  3683 non-null   float64
 44  startTime                         3838 non-null   object
 45  endTime                           3838 non-null   object
dtypes: float64(1), int64(37), object(8)
memory usage: 1.4+ MB

In [41]:
df2.household_id.nunique()

1885

In [42]:
df2.hhid.nunique()

AttributeError: 'DataFrame' object has no attribute 'hhid'

In [ ]:
df2.household_id.head(10)

0    RAK-KIZ-JAC-M-181731
1    RAK-KIZ-OMA-M-175229
2    RAK-KIZ-NUW-M-181003
3    RAK-KIZ-TAM-F-163656
4    RAK-KIZ-LID-F-131019
5    RAK-KIZ-JAC-M-162202
6    RAK-KIZ-KES-F-110018
7    RAK-KIZ-APO-F-164846
8    RAK-KIZ-AGB-M-122258
9    RAK-KIZ-GIL-M-165429
Name: household_id, dtype: object

In [ ]:
df2.hhid.head(10)

0    RAK-KIZ-JAC-M-181731
1    RAK-KIZ-OMA-M-175229
2    RAK-KIZ-NUW-M-181003
3    RAK-KIZ-TAM-F-163656
4    RAK-KIZ-LID-F-131019
5    RAK-KIZ-JAC-M-162202
6    RAK-KIZ-KES-F-110018
7    RAK-KIZ-APO-F-164846
8    RAK-KIZ-AGB-M-122258
9    RAK-KIZ-GIL-M-165429
Name: hhid, dtype: object

- from the above inspection, features house_hold_id and hhid have the same observations so i will drop hhid and use house_hold_id

In [ ]:
# drop hhid

df2 = df2.drop(columns=['hhid'])
df2 = df2.drop_duplicates()

In [ ]:
# cleaning df3

df3 = df3.drop(columns=['hhid'])
df3 = df3.drop_duplicates()

In [ ]:
# combine df2 and df3 by concatenation to avoid NaNs and keep feature names unchanged
df23 = pd.concat([df2, df3], ignore_index=True).drop_duplicates()

# save merged dataframe
output_dir = Path().resolve().parent / "data/processed"
os.makedirs(output_dir, exist_ok=True)
df23.to_csv(output_dir / "households_coaching_visits_merged.csv", index=False)

In [ ]:
# Create a clear summary table with named columns and rows
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Total households per region, district, cluster (from df1)
households_summary = df1.groupby(['region_name', 'district_name', 'cluster_name'], as_index=False)['household_id'].nunique()
households_summary = households_summary.rename(columns={'household_id': 'total_households'})

# 2. Number of households attended each Training Type (from df4)
training_attendance = df4.groupby(['region_name', 'district_name', 'cluster_name', 'training_type'], as_index=False)['household_id'].nunique()
training_attendance = training_attendance.pivot_table(index=['region_name', 'district_name', 'cluster_name'], columns='training_type', values='household_id', fill_value=0)
training_attendance = training_attendance.reset_index()

# 3. Proportion of households attended each training type
for col in training_attendance.columns[3:]:
    training_attendance[col + '_prop'] = training_attendance[col] / households_summary['total_households']

# 4. Proportion of households visited once, twice, thrice (from df23)
visit_counts = df23.groupby(['region_name', 'district_name', 'cluster_name', 'household_id']).size().reset_index(name='visit_count')
visit_counts['visit_count'] = visit_counts['visit_count'].astype(int)
for n in [1,2,3]:
    visit_counts[f'visited_{n}'] = (visit_counts['visit_count'] == n).astype(int)
visit_summary = visit_counts.groupby(['region_name', 'district_name', 'cluster_name'])[[f'visited_{n}' for n in [1,2,3]]].sum().reset_index()
for n in [1,2,3]:
    visit_summary[f'visited_{n}_prop'] = visit_summary[f'visited_{n}'] / households_summary['total_households']

# Merge all summaries into a single table
summary = households_summary.merge(training_attendance, on=['region_name', 'district_name', 'cluster_name'], how='left')
summary = summary.merge(visit_summary, on=['region_name', 'district_name', 'cluster_name'], how='left')

# Reorder columns for clarity
cols = ['region_name', 'district_name', 'cluster_name', 'total_households']
if len(training_attendance.columns) > 3:
    cols += [col for col in training_attendance.columns if col not in cols and not col.endswith('_prop')]
    cols += [col for col in training_attendance.columns if col.endswith('_prop')]
cols += [f'visited_{n}' for n in [1,2,3]]
cols += [f'visited_{n}_prop' for n in [1,2,3]]
summary = summary[cols]

# Output as dataframe
summary.fillna(0, inplace=True)
display(summary)

# Save as PNG
os.makedirs(Path().resolve().parent / 'visuals', exist_ok=True)
plt.figure(figsize=(min(24, 4+2*len(summary.columns)), min(8, 0.5*len(summary))))
sns.heatmap(summary.set_index(['region_name', 'district_name', 'cluster_name']).astype(float), annot=True, fmt='.2f', cmap='Blues')
plt.title('Summary Table Metrics')
plt.tight_layout()
plt.savefig(Path().resolve().parent / 'visuals' / 'summary_table.png')
plt.close()

,region_name,district_name,cluster_name,total_households,Agriculture - General Refresher,Agriculture - Post Harvest Handling,Agriculture 1 - Organics Farming & Keyhole gardening,Agriculture 2 - Preparation & Preplanting,Agriculture Perennial Crops,HHT 1 - Day 2 - VSLAs,...,HHT 3 - Gender Equality and Social Inclusion_prop,Livestock - Livestock Care & Management_prop,WASH - Training 1_prop,WASH Champions Training_prop,visited_1,visited_2,visited_3,visited_1_prop,visited_2_prop,visited_3_prop
0,Central,Rakai,Kizinga,543,521.0,524.0,384.0,538.0,364.0,519.0,...,0.966851,0.966851,0.961326,0.058932,0.0,362.0,179.0,0.000000,0.666667,0.329650
1,East,Luuka,Kawanga,800,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,172.0,492.0,120.0,0.215000,0.615000,0.150000
2,South West,Kitagwenda,Kibale,670,0.0,0.0,0.0,0.0,598.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
3,South West,Mitooma,Kabarore,543,0.0,529.0,533.0,542.0,520.0,513.0,...,0.797015,0.767164,0.762687,0.038806,96.0,445.0,2.0,0.176796,0.819521,0.003683

C:\Users\HP\AppData\Local\Temp\ipykernel_8676\1295840638.py:49: UserWarning: Tight layout not applied. The bottom and top margins cannot be made large enough to accommodate all Axes decorations.
  plt.tight_layout()

### Key Challenges & their Solutions


1. **Inconsistent Household Identifiers:** Different datasets used different column names for household IDs (e.g., `household_id` vs `hhid`).
   - *Solution:* Inspected and standardized the column names, dropping duplicates and unnecessary columns.


2. **Combining Visit Datasets Without NaNs:** Merging with outer joins introduced many NaNs due to non-overlapping columns.
   - *Solution:* Used `pd.concat` to stack the visit datasets vertically, preserving all records and columns, then dropped duplicates.


3. **Aligning Groupby and Pivot Results:** Ensuring that all summary tables (counts, proportions, visits) had matching keys and clear column names for merging and final output.
   - *Solution:* Used `reset_index()` and explicit column ordering to guarantee merge compatibility and clarity in the summary table.


4. **Disaggregating by Multiple Levels:** Required grouping by region, district, and cluster for all metrics.
   - *Solution:* Used pandas groupby and pivot_table to aggregate and reshape data as needed.


5. **Calculating Proportions with Varying Denominators:** Needed to ensure proportions were calculated using the correct total households per group.
   - *Solution:* Merged summary tables carefully and used the total from the household list as the denominator.


6. **Exporting Data as PNG:** Dataframes can be large and hard to visualize as images.
   - *Solution:* Used seaborn heatmap for a compact, annotated visual summary and saved the output to the visuals folder.

# Assignment 2

In [31]:
# further data cleaning on dataset df23

df23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5765 entries, 0 to 5764
Data columns (total 46 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   region_name                       5765 non-null   object
 1   district_name                     5765 non-null   object
 2   cluster_name                      5765 non-null   object
 3   village_name                      5765 non-null   object
 4   user_type                         5488 non-null   object
 5   household_id                      5691 non-null   object
 6   latrine_present                   5765 non-null   int64
 7   latrine_cover                     5765 non-null   int64
 8   paper_leaves_present              5765 non-null   int64
 9   latrine_floored                   5765 non-null   int64
 10  latrine_envir_human_excreta_free  5765 non-null   int64
 11  latrine_door                      5765 non-null   int64
 12  latrine_walled                    5765 non-null   int64
 13  latrine_roof_leak_proof           5765 non-null   int64
 14  tippy_present                     5765 non-null   int64
 15  tippy_water_fill                  5765 non-null   int64
 16  soap_ash_present                  5765 non-null   int64
 17  latrine_envir_veg_free            5765 non-null   int64
 18  cloth_hang_line_present           5765 non-null   int64
 19  kitchen_present                   5765 non-null   int64
 20  kitchen_ventilated                5765 non-null   int64
 21  kitchen_clean                     5765 non-null   int64
 22  bathroom_present                  5765 non-null   int64
 23  bathroom_drainage                 5765 non-null   int64
 24  compound_clean                    5765 non-null   int64
 25  dishrack_present                  5765 non-null   int64
 26  dishrack_double_pres              5765 non-null   int64
 27  compost_present                   5765 non-null   int64
 28  rec_num_compost                   5765 non-null   int64
 29  standard_size_compost             5765 non-null   int64
 30  compost_fill_correctly            5765 non-null   int64
 31  lqd_manure_prod                   5765 non-null   int64
 32  org_presticide_prod               5765 non-null   int64
 33  compound_gardening                5765 non-null   int64
 34  biodegrade_waste_mgt              5765 non-null   int64
 35  mulch_practice                    5765 non-null   int64
 36  vegetables                        5765 non-null   int64
 37  staple_crops                      5765 non-null   int64
 38  post_harvest_storage              5765 non-null   int64
 39  water_control_practice            5765 non-null   int64
 40  bbw_management                    5765 non-null   int64
 41  vsla_participation                5765 non-null   int64
 42  visitCount                        5765 non-null   int64
 43  timeTakenToCompleteFormInMinutes  5594 non-null   float64
 44  startTime                         5749 non-null   object
 45  endTime                           5749 non-null   object
dtypes: float64(1), int64(37), object(8)
memory usage: 2.0+ MB

In [44]:
# convert startTime & endTime to readable datetime if they are Excel serial numbers
import pandas as pd
import datetime

def excel_serial_to_datetime(series):
    # Handle NaNs and non-numeric values gracefully
    return pd.to_datetime('1899-12-30') + pd.to_timedelta(pd.to_numeric(series, errors='coerce'), unit='D')

df23['startTime_dt'] = excel_serial_to_datetime(df23['startTime'])
df23['endTime_dt'] = excel_serial_to_datetime(df23['endTime'])

df23[['startTime', 'startTime_dt', 'endTime', 'endTime_dt']].head(10)

,startTime,startTime_dt,endTime,endTime_dt
0,45571.612542,2024-10-06 14:42:03.611999744,45571.623382,2024-10-06 14:57:40.201000309
1,45571.533149,2024-10-06 12:47:44.115000123,45571.540004,2024-10-06 12:57:36.310999694
2,45570.342903,2024-10-05 08:13:46.806000127,45570.353696,2024-10-05 08:29:19.325999932
3,45571.467801,2024-10-06 11:13:37.984000108,45571.474324,2024-10-06 11:23:01.562999772
4,45570.388788,2024-10-05 09:19:51.268999918,45570.40478,2024-10-05 09:42:52.987999697
5,45571.548675,2024-10-06 13:10:05.553999989,45571.562326,2024-10-06 13:29:44.992999700
6,45570.35778,2024-10-05 08:35:12.219000069,45570.36527,2024-10-05 08:45:59.342000048
7,45571.518069,2024-10-06 12:26:01.170999913,45571.52923,2024-10-06 12:42:05.481000288
8,45570.611546,2024-10-05 14:40:37.535999995,45570.617714,2024-10-05 14:49:30.507999743
9,45571.565154,2024-10-06 13:33:49.273000148,45571.570771,2024-10-06 13:41:54.585999697

In [45]:
# Fill nulls in timeTakenToCompleteFormInMinutes with (endTime_dt - startTime_dt) in minutes
mask = df23['timeTakenToCompleteFormInMinutes'].isnull()
df23.loc[mask, 'timeTakenToCompleteFormInMinutes'] = (df23.loc[mask, 'endTime_dt'] - df23.loc[mask, 'startTime_dt']).dt.total_seconds() / 60
df23['timeTakenToCompleteFormInMinutes'].head(10)

0    16.21478
1    14.05852
2    15.19217
3    12.62693
4    13.23139
5    16.68207
6    10.34156
7     9.81365
8     9.20778
9     7.34108
Name: timeTakenToCompleteFormInMinutes, dtype: float64

In [46]:
# drop original startTime and endTime columns

df23 = df23.drop(columns=["startTime", "endTime"])

# drop nulls subseting on household_id
df23 = df23.dropna(subset=['household_id'])

- Dropped startTime & endTime features which are now irrelevant.
- Since for some observations there were no household_id observations, i dropped nulls subsetting on household_id so that i work with only known household_ids

In [ ]:

# columns for WASH (H:AB), Agriculture (AC:AP), VSLA Participation
wash_cols = df23.columns[7:28]  # H:AB (0-based index)
agri_cols = df23.columns[28:42]  # AC:AP
vsla_cols = [col for col in df23.columns if 'vsla' in col.lower() or 'VSLA' in col]

# Computing mean for each household
df23['wash_score'] = df23[wash_cols].mean(axis=1, skipna=True)
df23['agri_score'] = df23[agri_cols].mean(axis=1, skipna=True)
df23['vsla_score'] = df23[vsla_cols].mean(axis=1, skipna=True) if vsla_cols else np.nan

# Computing overall average adoption score
df23['overall_adoption_score'] = df23[['wash_score', 'agri_score', 'vsla_score']].mean(axis=1, skipna=True)

# Aggregate by household_id
household_scores = df23.groupby('household_id')[['wash_score', 'agri_score', 'vsla_score', 'overall_adoption_score']].mean().reset_index()

household_scores.head()

,household_id,wash_score,agri_score,vsla_score,overall_adoption_score
0,Buh-Mar-Ger-M-154331,1.0,0.952381,1.0,0.984127
1,Buh-Nya-Dov-F-090959,1.0,0.952381,1.0,0.984127
2,Buh-Nya-Emm-M-092420,1.0,0.928571,1.0,0.976190
3,Buh-Nya-Nic-M-093634,1.0,0.928571,1.0,0.976190
4,Buh-Nya-Pet-M-091609,1.0,0.880952,1.0,0.960317

In [48]:
# Using the first visit per household 
first_visits = df23.sort_values(['household_id', 'startTime_dt']).groupby('household_id', as_index=False).first()

# coaching components columns H:AP (0-based: 7:42)
coaching_cols = df23.columns[7:42]
score_cols = ['wash_score', 'agri_score', 'vsla_score', 'overall_adoption_score']

# Aggregate by Region, District, Cluster
agg_cols = list(coaching_cols) + score_cols
adoption_summary = first_visits.groupby(['region_name', 'district_name', 'cluster_name'])[agg_cols].mean().reset_index()

adoption_summary.head()

,region_name,district_name,cluster_name,latrine_cover,paper_leaves_present,latrine_floored,latrine_envir_human_excreta_free,latrine_door,latrine_walled,latrine_roof_leak_proof,...,vegetables,staple_crops,post_harvest_storage,water_control_practice,bbw_management,vsla_participation,wash_score,agri_score,vsla_score,overall_adoption_score
0,Central,Rakai,Kizinga,0.996317,1.000000,0.992634,0.885820,0.985267,0.966851,0.994475,...,1.000000,0.990792,0.996317,0.963168,0.985267,0.895028,0.977024,0.985135,0.895028,0.952396
1,East,Luuka,Kawanga,0.981227,0.984981,0.987484,0.988736,0.982478,0.988736,0.979975,...,0.987484,0.998748,1.000000,0.958698,0.952441,0.976220,0.970558,0.948775,0.976220,0.965185
2,South West,Kitagwenda,Kiibale,0.932039,0.970874,0.980583,0.978964,0.938511,0.962783,0.943366,...,0.995146,0.996764,0.998382,0.978964,0.831715,0.914239,0.941362,0.955270,0.914239,0.936957
3,South West,Mitooma,Kabarore,0.994475,0.994475,0.998158,0.998158,0.994475,0.998158,0.998158,...,1.000000,0.998158,1.000000,0.994475,0.998158,1.000000,0.995352,0.997895,1.000000,0.997749

### My Comments on Adoption Scores by Region, District, and Cluster

- **WASH Performance:**
  - Regions, districts, or clusters with higher average WASH scores indicate better adoption of water, sanitation, and hygiene practices. Look for clusters with consistently high or low scores to identify best practices or areas needing intervention.

- **Agriculture Performance:**
  - High agriculture scores reflect strong uptake of agricultural coaching components. Districts or clusters with lower averages may benefit from targeted support or further training.

- **VSLA Participation:**
  - VSLA (Village Savings and Loan Association) participation scores show the extent of financial inclusion and group savings adoption. Regions with low VSLA scores may have barriers to participation or require more sensitization.

- **Overall Adoption:**
  - The overall adoption score provides a holistic view, combining WASH, Agriculture, and VSLA. Regions or clusters with high overall scores are likely more resilient and have embraced the coaching program broadly. Conversely, areas with low overall scores may need a comprehensive review to identify and address adoption barriers.

## My Recommendations to Enhance Program Performance

1. **Targeted WASH Interventions:**
   - Focus additional training and resources on regions, districts, or clusters with below-average WASH scores. Conduct follow-up visits and community demonstrations to address specific gaps in water, sanitation, and hygiene practices.

2. **Strengthen Agricultural Coaching in Low-Performing Areas:**
   - Identify districts or clusters with low agriculture adoption scores and provide tailored support, such as field demonstrations, peer learning, and refresher sessions to boost uptake of agricultural best practices.

3. **Boost VSLA Participation:**
   - In regions with low VSLA scores, increase sensitization efforts, address barriers to participation (such as trust or access issues), and facilitate the formation of new groups to improve financial inclusion and savings culture.

4. **Integrated, Data-Driven Supervision:**
   - Use the adoption score data to guide supervisory visits, prioritizing underperforming clusters for more frequent coaching and support. Regularly review adoption metrics to adapt strategies and ensure continuous improvement across all domains.

# Assignment 3

- the code for the Dashboard is in app.py 
- link to the dashboard: https://basajja.shinyapps.io/rtv-interview/

- link for the Monitoring Tool are in monitoring/monitoring_tool.py
- link to monitoring tool dashboard: https://basajja.shinyapps.io/monitoring1/